#logo {
  font-size: 2em;
  width: 30%;
}

header {
  background-color: #7c7cf8;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif

}

.lista-links {
  font-size: 1.3rem;
}

li {
  display: inline-block;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  color: black;
}




